.point-a{
	background-color: green;
}
.point-b{
	background-color: red;
}
#map{
	height: 90vh;
	position: relative
}
#info-box{
	/* overflow: scroll; */
	height: auto;
	max-height: 80vh;
	overflow: auto;	
}

.nav-right, .nav-left{
	display: hidden
}
.nav-right{
	margin-top: 25px;
}
.nav-logo{
	color: rgb(40, 40, 158);
	font-family: 'Fascinate Inline', cursive;
	/* text-shadow: 5px 5px 3px rgba(118, 132, 150, 1); */
}
.a-logo{
	color: red
}
.p-logo{
	color: rgb(245, 245, 45)
}
.p2-logo{
	color: lightgreen
}
.weather-box{
	position: absolute;
	margin-left: 101%;
	margin-top: 15%;
	z-index: 5;
	background: rgba(21, 39, 119, 0.377);
	color: white;
	border-radius: 3%;
	font-size: 11px;
	/* max-height: 150px; */
	overflow: auto;
}
.weather-start, .weather-end{
	background: rgba(236, 234, 234,0.9);
	margin-bottom: 5%;
	max-height: 100%;
	color: black;
	border-radius: 3%;
}
.icon-start, .icon-end{
	position: absolute;
	margin-left: 25%
}

