.point-a{
	background-color: green;
}
.point-b{
	background-color: red;
}
#map{
	height: 90vh;
	position: relative
}
.left-side-bar{
	/* overflow: scroll; */
	height: auto;
	max-height: 90vh;
	overflow: auto;
	
}

.nav-right, .nav-left{
	display: hidden
}
.nav-right{
	margin-top: 25px;
}
.nav-logo{
	color: rgb(40, 40, 158);
	font-family: 'Fascinate Inline', cursive;
	/* text-shadow: 5px 5px 3px rgba(118, 132, 150, 1); */
}
.a-logo{
	color: red
}
.p-logo{
	color: rgb(245, 245, 45)
}
.p2-logo{
	color: lightgreen
}
.weather-box{
	position: absolute;
	margin-left: 101%;
	margin-top: 10%;
	z-index: 5;
	background: rgba(92, 89, 89,0.5);
	color: black;
	border-radius: 3%;
	font-size: auto;
	max-height: 100px;
	overflow: auto
}
.weather-start, .weather-end{
	background: rgba(236, 234, 234,0.9);
	margin-bottom: 5%;
	padding: 5%;
	max-height: 100%;
}

