.point-a{
	background-color: green;
}
.point-b{
	background-color: red;
}
#map{
	height: 100vh;
	position: relative
}
#info-box{
	overflow: scroll;
	height: 600px
}
.nav-right, .nav-left{
	display: hidden
}
.weather-box{
	position: absolute;
	margin-left: 101%;
	margin-top: 10%;
	z-index: 5;
	background: rgba(92, 89, 89,0.5);
	color: white;
	border-radius: 3%
}
