.front-page{
	background-image: url('../images/roadtrip.jpeg');
	background-size: cover;
	
}
.container-fluid{
	height: 100vh;	
}
h2{
	font-family: 'Baloo Chettan', cursive;
}
/* ===== HEADER ===== */
#header-navapp{
	font-size: 4em;
	font-family: 'Fascinate Inline', cursive;
}
.nav-right{
	margin-top: 25px;
}
.nav-logo{
	color: rgb(40, 40, 158);
	font-family: 'Fascinate Inline', cursive;
}
.a-logo{
	color: red
}
.p-logo{
	color: rgb(245, 245, 45)
}
.p2-logo{
	color: lightgreen
}
/* ===== HEADER END/ BODY START ====== */

.body-content{
	margin-top: 100px
}
.search-title{
	margin-bottom: 50px;
	font-family: 'Courgette', cursive;
	letter-spacing: .6em
	
}
.start-location, .end-location{
	height: 46px;
	box-shadow: -30px 28px 25px -27px rgba(0,0,0,0.75);
	filter: opacity(.8)
}
.start-location{
	
}
.about-container{
	background-color:orange;
	background-image: url('../images/trip1.jpeg');
	background-size: cover

}
.trip-container{
	background-color:blue
}
#about, #popular-trip{
	height: 63px;
}
#triangle-down {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 70px solid white;
	margin: auto;

}
/* ==== BODY END ===== */


